.driver-orders {
    background-color: #f6f9fc;
    padding: 70px 20px;
  }
  
  .driver-orders .section-title {
    margin-bottom: 50px;
  }
  
  .driver-orders .order-list {
    margin-top: 30px;
  }
  
  .driver-orders .single-order {
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all 0.4s ease;
  }
  
  .driver-orders .single-order:hover {
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15);
  }
  
  .driver-orders .single-order p {
    font-size: 16px;
    color: #081828;
  }
  
  .driver-orders .single-order button {
    padding: 5px 20px;
    border: 1px solid #eee;
    color: #081828;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .driver-orders .single-order button:hover {
    color: #fff;
    background-color: #2042e3;
    border-color: transparent;
  }
  