.Form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.Form-modal-dialog {
  max-width: 500px;
  margin: 0 auto;
}

.Form-modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Form-modal-body {
  padding: 2rem;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  
}

.page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}



.success-message {
  color: green;
  text-align: center;
  margin-top: 1rem;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.Form-btn-container {
  display: flex;
  justify-content: center;
}
.Form-btn {
  width: 50%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
}

.Form-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}


