@media (max-width: 992px) {
  .offcanvas-collapse {
    position: fixed;
    top: 59px;
    left: 100%;
    bottom: 0%;
    width: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: gray;
    transition: all 0.3s;
    &.active {
      transform: translateX(-100%);
    }
  }
}
